### Importing Libraries

In [115]:
import numpy as np 

import pandas as pd 

print('Libraries imported.')

Libraries imported.

### Reading Wikipedia page with pandas

In [116]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

### Picking out the correct table from the Wikipedia page

In [117]:
len(df)

3

In [118]:
df = df[0]

In [119]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Dropping cells with borough not assigned AND ensuring unassigned Neighborhoods have same Borough

In [120]:
#Dropping cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned'].reset_index(drop = True)

In [121]:
#Replacing Neighbourhood with Borough for any Neighborhoods that are not assigned.
df["Neighbourhood"]  = df["Neighbourhood"].replace("Not assigned", df["Borough"])

In [122]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [123]:
df.shape

(103, 3)